{% assign author = site.author %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">
  {% if author.avatar %}
    <div class="author__avatar">
      <img src="{{ author.avatar | relative_url }}" alt="{{ author.name | default: 'Profile photo' }}">
    </div>
  {% endif %}

  <div class="author__content">
    {% if author.name %}<h3 class="author__name">{{ author.name }}</h3>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
    {% if author.affiliation %}<p class="author__bio">{{ author.affiliation }}</p>{% endif %}
  </div>

  <ul class="author__urls">
    {% if author.location %}
      <li>{{ author.location }}</li>
    {% endif %}
    {% if author.email %}
      <li><a href="mailto:{{ author.email }}">Email</a></li>
    {% endif %}
    {% if author.uri %}
      <li><a href="{{ author.uri }}">Website</a></li>
    {% endif %}
    {% if author.googlescholar %}
      <li><a href="{{ author.googlescholar }}">Google Scholar</a></li>
    {% endif %}
    {% if author.github %}
      {% assign github_url = author.github %}
      {% unless github_url contains '://' %}
        {% assign github_url = author.github | prepend: 'https://github.com/' %}
      {% endunless %}
      <li><a href="{{ github_url }}">GitHub</a></li>
    {% endif %}
    {% if author.orcid %}
      {% assign orcid_url = author.orcid %}
      {% unless orcid_url contains '://' %}
        {% assign orcid_url = author.orcid | prepend: 'https://orcid.org/' %}
      {% endunless %}
      <li><a href="{{ orcid_url }}">ORCID</a></li>
    {% endif %}
    {% if author.linkedin %}
      {% assign linkedin_url = author.linkedin %}
      {% unless linkedin_url contains '://' %}
        {% assign linkedin_url = author.linkedin | prepend: 'https://www.linkedin.com/in/' %}
      {% endunless %}
      <li><a href="{{ linkedin_url }}">LinkedIn</a></li>
    {% endif %}
    {% if author.researchgate %}
      {% assign researchgate_url = author.researchgate %}
      {% unless researchgate_url contains '://' %}
        {% assign researchgate_url = author.researchgate | prepend: 'https://www.researchgate.net/profile/' %}
      {% endunless %}
      <li><a href="{{ researchgate_url }}">ResearchGate</a></li>
    {% endif %}
    {% if author.cv %}
      <li><a href="{{ author.cv | relative_url }}">CV</a></li>
    {% endif %}
    {% if author.links %}
      {% for link in author.links %}
        {% if link.url %}
          <li><a href="{{ link.url | relative_url }}">{{ link.label | default: link.title | default: link.url }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
    {% if author.urls %}
      {% for link in author.urls %}
        {% if link.url %}
          <li><a href="{{ link.url | relative_url }}">{{ link.label | default: link.title | default: link.url }}</a></li>
        {% endif %}
      {% endfor %}
    {% endif %}
  </ul>
</div>
