{% assign author = site.author %}

<div itemscope itemtype="http://schema.org/Person" class="profile_box">
  {% if author.avatar %}
    <div class="author__avatar">
      <img src="{{ author.avatar | relative_url }}" alt="{{ author.name | default: 'Profile photo' }}">
    </div>
  {% endif %}

  <div class="author__content">
    {% if author.name %}<h3 class="author__name">{{ author.name }}</h3>{% endif %}
    {% if author.bio %}<p class="author__bio">{{ author.bio }}</p>{% endif %}
    {% if author.affiliation %}<p class="author__bio">{{ author.affiliation }}</p>{% endif %}
  </div>

  <ul class="author__urls">
    {% if author.email %}
      <li><a href="mailto:{{ author.email }}">{{ author.email }}</a></li>
    {% endif %}
  </ul>
</div>
