{% assign seo_url = site.url | default: site.github.url %}
{% assign seo_description = page.description | default: page.excerpt | default: site.description %}
{% if seo_description %}
  {% assign seo_description = seo_description | markdownify | strip_html | strip_newlines | escape_once %}
{% endif %}

<title>{{ site.title }}</title>
<meta property="og:locale" content="en">
<meta property="og:site_name" content="{{ site.title }}">
<meta property="og:title" content="{{ site.title }}">

{% if seo_url %}
  <link rel="canonical" href="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
  <meta property="og:url" content="{{ page.url | prepend: seo_url | replace: "/index.html", "/" }}">
{% endif %}

{% if seo_description %}
  <meta name="description" content="{{ seo_description }}">
  <meta property="og:description" content="{{ seo_description }}">
{% endif %}
